@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
